# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Editors
# ==========================

.vscode/
.idea/

# Vim
*.swp
*.swo
*~

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Environment
# ==========================

.env
.env.*

# ==========================
# Node (caso uses no futuro)
# ==========================

node_modules/

# ==========================
# Build output
# ==========================

dist/
build/

# ==========================
# Cache
# ==========================

.cache/
fix-mobile-menu.sh
ttt.txt
assets/css/style.css.bak
